<!-- モーダル部分　社員新規登録 -->
<div class="signup-modal-wrapper admin_only" id="signup-modal">
    <div class="modal">
      <div id="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="adduser-form">
        <h2>社員新規登録</h2>
        <form name="form_newuser" method="POST" action="/admin/newuser">
            <select name="department" class="form-control placeholder_select" id="select_create_department">
                <option value='' disabled selected style='display:none;'>部署名</option>
                <% datadepartment.forEach ( (element)=> {  %>
                    <option value="<%= element.department %>"><%= element.department %></option>
                <% }); %>
                <% if (login.department == "社長") { %>
                    <option value="社長">社長</option>
                <% } %>
                <option value="*非表示*">*非表示*</option>
            </select>
            <div class="div_create_name">
              <input id="create_name" name="name" class="form-control" type="text" placeholder="名前"><a id="newadmin_check_btn"><i class="fas fa-user"></i></a>
            </div>
            <input type="hidden" id="newadmin_check_body" name="newadmin_check_body" value="0">
            <input id="create_position" name="position" class="form-control" type="text" placeholder="社内ポジション（省略可）">
            <input id="create_information" name="information" class="form-control" type="text" placeholder="内線番号（省略可）">
            <input id="create_email" name="email" class="form-control" type="text" placeholder="メールアドレス（省略可）">
            <input id="create_password" name="password" class="form-control" type="password" placeholder="パスワード">
            <input id="tmp_password" class="form-control" type="password" placeholder="パスワードを確認">
            <a href="javascript:form_newuser.submit()" id="btn_newuser">新規登録</a>
            <p id="form_newuser_info" style="font-size: 0.8em;"><span style="color: red;">※</span>氏名欄のアイコンをクリックすると管理者を登録できます。</p>
        </form>
      </div>
    </div>
</div>
<!-- モーダルここまで　社員新規登録 -->

<!-- モーダル部分 客先管理-->
<div class="signup-modal-wrapper admin_only" id="addkyakusaki-modal">
    <div class="modal">
      <div id="close-modal2">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="addkyakusaki-form">
        <h2>客先管理＆新規登録</h2>
        <form id="form_newkyakusaki" name="form_newkyakusaki" method="POST" action="/admin/newkyakusaki">
            <% var i;for (i in datakyakusaki) {  %>
                <div>
                    <input name="kyakusaki" type="text" value="<%= datakyakusaki[i].kyakusaki %>"><span><i class="far fa-trash-alt btn_kyakusaki_delete"></i></span>
                    <input type="hidden" name="id" value="<%= datakyakusaki[i].id %>">
                </div>
            <% } %>
            <input name="cnt" value="<%= i %>" type="hidden">

            <!-- クローン用区域 -->
            <div id="clonearea_newkyakusaki">
                
            </div>
            <!-- クローン用区域 ここまで　-->

            <!-- クローン要素 -->
            <div class="clone_newkyakusaki hide" id="clone_newkyakusaki">
              <input class="form-control input_newkyakusaki" type="text" placeholder="新客先を追加"><span><i class="fa fa-minus btn_kyakusaki_minus" aria-hidden="true"></i></span>
            </div>
            <!-- クローン要素 ここまで-->

            <span id="btn_kyakusaki_add">+</span>
          
          <a href="javascript:form_newkyakusaki.submit()" id="btn_newkyakusaki">登録</a>
        </form>
      </div>
    </div>
</div>
<!-- モーダルここまで　客先管理 -->

<div class="signup-modal-wrapper admin_only" id="addshanai-modal">
    <div class="modal">
      <div id="close-modal3">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="addshanai-form">
        <h2>社内所在地管理＆新規登録</h2>
        <form id="form_newshanai" name="form_newshanai" method="POST" action="/admin/newshanai">
            <% var n;for (n in datashanai) {  %>
                <div>
                    <input name="shanai" type="text" value="<%= datashanai[n].shanai %>"><span><i class="far fa-trash-alt btn_shanai_delete"></i></span>
                    <input type="hidden" name="id" value="<%= datashanai[n].id %>">
                </div>
            <% } %>
            <input name="cnt_shanai" value="<%= n %>" type="hidden">

            <!-- クローン用区域 -->
            <div id="clonearea_newshanai">
                
            </div>
            <!-- クローン用区域 ここまで　-->

            <!-- クローン要素 -->
            <div class="clone_newshanai hide" id="clone_newshanai">
                <input class="form-control input_newshanai" type="text" placeholder="新社内ポジションを追加"><span><i class="fa fa-minus btn_shanai_minus" aria-hidden="true"></i></span>
            </div>
            <!-- クローン要素 ここまで-->

            <span id="btn_shanai_add">+</span>

          <a href="javascript:form_newshanai.submit()" id="btn_newshanai">登録</a>
        </form>
      </div>
    </div>
</div>
<!-- モーダルここまで -->

<!-- モーダル部分 部署管理-->
<div class="signup-modal-wrapper admin_only" id="adddepartment-modal">
    <div class="modal">
      <div id="close-modal5">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="adddepartment-form">
        <h2>部署管理＆新規登録</h2>
        <form id="form_newdepartment" name="form_newdepartment" method="POST" action="/admin/newdepartment">
            <% var i;for (i in datadepartment) {  %>
                <div>
                    <input name="department" type="text" value="<%= datadepartment[i].department %>"><span><i class="far fa-trash-alt btn_department_delete"></i></span>
                    <input type="hidden" name="id" value="<%= datadepartment[i].id %>">
                </div>
            <% } %>
            <input name="cnt" value="<%= i %>" type="hidden">

            <!-- クローン用区域 -->
            <div id="clonearea_newdepartment">
                
            </div>
            <!-- クローン用区域 ここまで　-->

            <!-- クローン要素 -->
            <div class="clone_newdepartment hide" id="clone_newdepartment">
                <input class="form-control input_newdepartment" type="text" placeholder="新部署を追加"><span><i class="fa fa-minus btn_department_minus" aria-hidden="true"></i></span>
            </div>
            <!-- クローン要素 ここまで-->

            <span id="btn_department_add">+</span>
          
          <a href="javascript:form_newdepartment.submit()" id="btn_newdepartment">登録</a>
        </form>
      </div>
    </div>
</div>
<!-- モーダルここまで　部署管理 -->

<!-- モーダル部分　社員情報管理 -->
<div class="signup-modal-wrapper" id="userinfo-modal">
    <div class="modal">
      <div id="close-modal4">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="userinfo-form">
        <h2>基本情報変更</h2>
        <form name="form_newuserinfo" method="POST" action="/admin/newuserinfo">
          <input id="userinfo_name" name="userinfo_name" class="form-control" type="text" placeholder="名前" value="<%= login.name %>">
          <select name="userinfo_department" class="form-control" id="userinfo_department" value="<%= login.department %>">
            <% datadepartment.forEach ( (element)=> {  %>
                <option value="<%= element.department %>"
                    <% if (element.department == login.department) { %>
                        selected
                    <% } %> 
                    ><%= element.department %></option>
            <% }); %>
            <% if (login.department == "社長") { %>
                <option value="社長" selected>社長</option>
            <% } %>
            <option value="*非表示*" 
            <% if (login.department == "*非表示*") { %>
                selected
            <% } %>
            >*非表示*</option>
          </select>
          <input id="userinfo_position" name="userinfo_position" class="form-control admin_only" type="text" placeholder="社内ポジション（省略可）" value="<%= login.position %>">
          <input id="userinfo_information" name="userinfo_information" class="form-control" type="text" placeholder="内線番号（省略可）" value="<%= login.information %>">
          <input id="userinfo_email" name="userinfo_email" class="form-control" type="text" placeholder="メールアドレス（省略可）" value="<%= login.email %>">
          <input type="hidden" name="original_email" value="<%= login.email %>">
          <input id="userinfo_newpassword" name="userinfo_newpassword" class="form-control" type="password" placeholder="新しいパスワード（入力しない場合無変更）">
          <input id="userinfo_newpassword_tmp" class="form-control" type="password" placeholder="新しいパスワードを確認">
          <a href="javascript:form_newuserinfo.submit()" id="btn_newuserinfo">変更</a>
          <p id="userinfo_position_info"><span style="color: red;">※</span>変更後自動的にログアウトされます。</p>
        </form>
      </div>
    </div>
</div>
<!-- モーダルここまで　社員情報管理 -->