<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/login_style.css" />
	</head>

<body>
	<header>
        <div class="header-right">
            <a href="/login" ><img class="logo" src="https://msi-net.co.jp/main/wp-content/uploads/2020/01/logo.png"></a>
        </div>
        <div class="header-left-login">
			<h1><span>> </span><%= title %></h1>
        </div>
	</header>

	<div role="main" class="main_login">

        <%- content %>

        <div class="login">
            <div class="heading">
              <h2>Log in</h2>
                <form  class="form_login" method="POST" action="/login">
          
                    <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="名前" value="<%= form.name %>" name="login_nm">
                    </div>
            
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="パスワード" value="<%= form.password %>" name="password">
                    </div>
        
                    <button type="submit" class="float">ログイン</button>
                </form>
                <a id="password_forget">パスワードをリセット</a>
            </div>
        </div>

    </div>

    <!-- モーダル部分　パスワード忘れ用モダール -->
	<div class="reset-modal-wrapper" id="reset-modal">
		<div class="modal_reset">
			<div id="close-modal-reset">
			  <i class="fa fa-2x fa-times"></i>
			</div>
			<div id="reset-form">
			  <h2>パスワードをリセット</h2>
			  <form name="form_reset" method="POST" action="/reset">
				<input name="name_reset" id="name_reset" class="form-control" type="text" placeholder="リセットしたいアカウント名">
				<a href="javascript:form_reset.submit()" id="btn_reset">確定</a>
			  </form>
			</div>
		</div>
	</div>
    <!-- モーダルここまで　パスワード忘れ用モダール -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
        // パスワード忘れモーダル
            $('#password_forget').click(function() {
                $('#reset-modal').fadeIn();
            });
            $('#close-modal-reset').click(function() {
                $('#reset-modal').fadeOut();
            });
        });
    </script>
    
</body>
</html>