<!DOCTYPE html>
<html class="html">

<!-- Mirrored from msiikisaki.appspot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Aug 2020 01:58:19 GMT -->
<head>

<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="generator" content="6.0.751.219" />
<title>行き先掲示版</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" 	href="css/site_globaldc10.css?114823713" />
<link rel="stylesheet" type="text/css" href="css/index7e17.css?4246631859" id="pagesheet" />
<link rel="stylesheet" type="text/css" href="css/node_add.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
</head>
<body>

	<!-- load画面 -->
	<div id="loader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>

	<!-- 非表示 -->
	<span id="r07"></span>
	<span id="r10"></span>
	<span id="r14"></span>
	<span id="r15"></span>
	<span id="r16"></span>
	<span id="r17"></span>
	<span id="r18"></span>
	<span id="r19"></span>
	<span id="r20"></span>


	<!-- 非表示 -->

	
	<span id="f2_4_2"></span>
	<span id="f2_4_4"></span>
	<span id="f2_4_6"></span>
	<span id="f2_4_8"></span>
	<span id="f2_4_10"></span>
	<span id="f2_4_12"></span>
	<span id="f1_1_1"></span>
	<span id="f1_3_4"></span>
	
	<span id="soumu_1_1"></span>
	<span id="soumu_1_2"></span>
	<span id="soumu_1_4"></span>
	<span id="soumu_3_2"></span>

	<span id="cog"><i class="fas fa-cog admin_only"></i></span>
	<!--  <span id="yonezawa_1_1"></span> -->
	<span id="yonezawa_3_3"></span>

	<!-- 庄内 -->
	<div class="clearfix" id="page">
		<!-- group -->
		<div class="grpelem" id="pu108">
			<!-- inclusion -->
			<div class="shadow" id="u108">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="pu456">
				<!-- group -->
				<div class="shadow grpelem" id="u456">
					<!-- simple frame -->
					<span id="sho_1_1" class="seatspan">
						<div class="status_icon">
							<% var data = usertableMap.get("sho_1_1"); %>
							<%- include table_data_item %>
						</div>
					</span>
				</div>
				<div class="shadow grpelem" id="u459">
					<!-- simple frame -->
					<span id="sho_1_2" class="seatspan">
						<div class="status_icon">
							<% var data = usertableMap.get("sho_1_2"); %>
							<%- include table_data_item %>
						</div>
					</span>
				</div>
				<div class="shadow grpelem" id="u459-1">
					<!-- simple frame -->
					<span id="sho_1_3" class="seatspan">
						<div class="status_icon">
							<% var data = usertableMap.get("sho_1_3"); %>
							<%- include table_data_item %>
						</div>
					</span>
				</div>
			</div>
		</div>

		<!-- 総務 -->
		<div class="grpelem list2" id="pu114">
			<!-- inclusion -->
			<div class="shadow" id="u114">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu243">
				<!-- column -->
				<div class="clearfix colelem" id="pu243">
					<!-- group -->
					<div class="shadow grpelem" id="u243">
						<!-- simple frame -->
					</div>
					<div class="shadow grpelem" id="u244">
						<!-- simple frame -->
					</div>
				</div>
				<div class="shadow colelem" id="u245">
					<!-- simple frame -->
				</div>
				<div class="clearfix colelem" id="pu246">
					<!-- group -->
					<div class="shadow colelem" id="u246">
						<!-- simple frame -->
						<span id="soumu_1_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_1_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>

				<div class="clearfix colelem" id="pu563">
					<!-- group -->
					<div class="shadow grpelem" id="u563-1">
						<!-- simple frame -->
						<span id="soumu_2_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_2_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u563-2">
						<!-- simple frame -->
						<span id="soumu_2_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_2_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u563">
						<!-- simple frame -->
						<span id="soumu_2_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_2_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u566">
						<!-- simple frame -->
						<span id="soumu_2_4" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_2_4"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu575">
					<!-- group -->
					<div class="shadow grpelem" id="u575">
						<!-- simple frame -->
						<span id="soumu_3_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_3_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u569">
						<!-- simple frame -->
						<span id="soumu_3_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_3_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u569-2">
						<!-- simple frame -->
						<span id="soumu_3_4" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("soumu_3_4"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>

		<!-- 福島 -->
		<div class="grpelem" id="pu632">
			<!-- inclusion -->
			<div class="shadow" id="u632">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="pu633">
				<!-- group -->
				<div class="shadow grpelem" id="u633">
					<!-- simple frame -->
					<span id="ko_1_1" class="seatspan">
						<div class="status_icon">
							<% var data = usertableMap.get("ko_1_1"); %>
							<%- include table_data_item %>
						</div>
					</span>
				</div>
				<div class="shadow grpelem" id="u636">
					<!-- simple frame -->
					<span id="aizu_1_1" class="seatspan">
						<div class="status_icon">
							<% var data = usertableMap.get("aizu_1_1"); %>
							<%- include table_data_item %>
						</div>
					</span>
				</div>
			</div>
		</div>

		<div class="grpelem" id="pu113">
			<!-- inclusion -->
			<div class="shadow" id="u113">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu130">
				<!-- column -->
				<div class="clearfix colelem" id="pu130">
					<!-- group -->
					<div class="shadow grpelem" id="u130">
						<!-- simple frame -->

					</div>
					<div class="shadow grpelem" id="u131">
						<!-- simple frame -->
					</div>
				</div>
				<div class="clearfix colelem" id="pu523">
					<!-- group -->
					<div class="shadow grpelem" id="u520">
						<!-- simple frame -->
						<span id="f1_1_6" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_1_6"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>

					<!--<div class="shadow grpelem" id="u521">-->
					<!-- simple frame -->
					<!--<span id="s139" class="seatspan"></span> -->
					<!--</div> -->

					<div class="shadow grpelem" id="u522">
						<!-- simple frame -->
						<span id="f1_1_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_1_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u523">
						<!-- simple frame -->
						<span id="f1_1_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_1_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u526">
						<!-- simple frame -->
						<span id="f1_1_4" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_1_4"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u538">
						<!-- simple frame -->
						<span id="f1_1_5" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_1_5"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu507">
					<!-- group -->
					<div class="shadow grpelem" id="u507">
						<!-- simple frame -->
						<span id="f1_2_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u510">
						<!-- simple frame -->
						<span id="f1_2_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u529">
						<!-- simple frame -->
						<span id="f1_2_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u532">
						<!-- simple frame -->
						<span id="f1_2_4" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_4"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u544">
						<!-- simple frame -->
						<span id="f1_2_5" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_5"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u547">
						<!-- simple frame -->
						<span id="f1_2_6" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_2_6"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu513">
					<!-- group -->
					<div class="shadow grpelem" id="u513">
						<!-- simple frame -->
						<span id="f1_3_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get('f1_3_1'); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u513-1">
						<!-- simple frame -->
						<span id="f1_3_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_3_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u535">
						<!-- simple frame -->
						<span id="f1_3_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_3_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u5351">
						<!-- simple frame -->
						<span id="f1_3_5" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_3_5"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u5352">
						<!-- simple frame -->
						<span id="f1_3_6" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f1_3_6"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="grpelem" id="pu109">
			<!-- inclusion -->
			<div class="shadow" id="u109">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu579">
				<!-- column -->
				<div class="clearfix colelem" id="pu579">
					<!-- group -->
					<div class="shadow grpelem" id="u57901">
						<!-- simple frame -->
						<span id="yonezawa_1_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_1_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u579">
						<!-- simple frame -->
						<span id="yonezawa_1_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_1_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u582">
						<!-- simple frame -->
						<span id="yonezawa_1_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_1_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu585">
					<!-- group -->
					<div class="shadow grpelem" id="u585">
						<!-- simple frame -->
						<span id="yonezawa_2_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_2_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u595">
						<!-- simple frame -->
						<span id="yonezawa_2_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_2_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u603">
						<!-- simple frame -->
						<span id="yonezawa_2_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_2_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>


				</div>
				<div class="clearfix colelem" id="pu591">
					<!-- group -->
					<div class="shadow grpelem" id="u591">
						<!-- simple frame -->
						<span id="yonezawa_3_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_3_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u619">
						<!-- simple frame -->
						<span id="yonezawa_3_2" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("yonezawa_3_2"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>


		<div class="grpelem" id="pu107">
			<!-- inclusion -->
			<div class="shadow" id="u107">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu122">
				<!-- group -->
				<div class="clearfix grpelem" id="pu122">
					<!-- column -->
					<div class="shadow colelem" id="u122">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu300">
						<!-- group -->
						<div class="shadow grpelem" id="u300">
							<!-- simple frame -->
							<span id="f2_1_1" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_1"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u306">
							<!-- simple frame -->
							<span id="f2_1_2" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_2"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu292">
						<!-- group -->
						<div class="shadow grpelem" id="u292">
							<!-- simple frame -->
							<span id="f2_2_1" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_1"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u294">
							<!-- simple frame -->
							<span id="f2_2_2" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_2"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu115">
						<!-- group -->
						<div class="shadow grpelem" id="u115">
							<!-- simple frame -->
							<span id="f2_3_1" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_1"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u280">
							<!-- simple frame -->
							<span id="f2_3_2" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_2"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u287">
						<!-- simple frame -->
						<span id="f2_4_1" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f2_4_1"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<!-- 会議室前（食堂側）の島 -->
				<div class="clearfix grpelem" id="pu123">
					<!-- column -->
					<div class="shadow colelem" id="u123">
						<!-- simple frame -->

					</div>
					<div class="clearfix colelem" id="pu310">
						<!-- group -->
						<div class="shadow grpelem" id="u310">
							<!-- simple frame -->

							<span id="f2_1_3" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_3"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u313">
							<!-- simple frame -->
							<span id="f2_1_4" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_4"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu316">
						<!-- group -->
						<div class="shadow grpelem" id="u316">
							<!-- simple frame -->
							<span id="f2_2_3" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_3"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u319">
							<!-- simple frame -->
							<span id="f2_2_4" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_4"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu322">
						<!-- group -->
						<div class="shadow grpelem" id="u322">
							<!-- simple frame -->
							<span id="f2_3_3" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_3"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u325">
							<!-- simple frame -->
							<span id="f2_3_4" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_4"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u328">
						<!-- simple frame -->
						<span id="f2_4_3" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f2_4_3"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix grpelem" id="pu124">
					<!-- column -->
					<div class="shadow colelem" id="u124">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu338">
						<!-- group -->
						<div class="shadow grpelem" id="u338">
							<!-- simple frame -->
							<span id="f2_1_5" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_5"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341">
							<!-- simple frame -->
							<span id="f2_1_6" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_6'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-1">
							<!-- simple frame -->
							<span id="f2_1_7" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-2">
							<!-- simple frame -->
							<span id="f2_1_8" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_8'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-3">
							<!-- simple frame -->
							<span id="f2_1_9" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_9"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-4">
							<!-- simple frame -->
							<span id="f2_1_10" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_10"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						
						<div class="shadow grpelem" id="u341-5">
							<!-- simple frame -->
							<span id="f2_1_11" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_11"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-6">
							<!-- simple frame -->
							<span id="f2_1_12" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_1_12"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>

						
					</div>
					<div class="clearfix colelem" id="pu344">
						<!-- group -->
						<div class="shadow grpelem" id="u344">
							<!-- simple frame -->
							<span id="f2_2_5" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_5"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u347">
							<!-- simple frame -->
							<span id="f2_2_6" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_6"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu350">
						<!-- group -->
						<div class="shadow grpelem" id="u350">
							<!-- simple frame -->
							<span id="f2_3_5" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_5"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u353">
							<!-- simple frame -->
							<span id="f2_3_6" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_6"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u356">
						<!-- simple frame -->
						<span id="f2_4_5" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f2_4_5"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
				</div>
				<div class="clearfix grpelem" id="pu125">
					<!-- column -->
					<div class="shadow colelem" id="u125">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu372">
						<!-- group -->
						<div class="shadow grpelem" id="u372">
							<!-- simple frame -->

							<span id="f2_2_7" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_2_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u375">
							<!-- simple frame -->

							<span id="f2_2_8" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_8"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>

					</div>
					<div class="clearfix colelem" id="pu378">
						<!-- group -->
						<div class="shadow grpelem" id="u378">
							<!-- simple frame -->
							<span id="f2_3_7" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_3_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u381">
							<!-- simple frame -->
							<span id="f2_3_8" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_3_8'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u384">
						<!-- simple frame -->
						<span id="f2_4_7" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get('f2_4_7'); %>
								<%- include table_data_item %>
							</div>
						</span>

					</div>
				</div>
				<!-- リラクゼーション前の島 -->
				<div class="clearfix grpelem" id="pu126">
					<!-- column -->
					<div class="shadow colelem" id="u126">
						<!-- simple frame -->

					</div>

					<div class="clearfix colelem" id="pu409">
						<!-- group -->
						<div class="shadow colelem" id="u409">
							<!-- simple frame -->
							<span id="f2_2_9" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_9"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow colelem" id="u410">
							<!-- simple frame -->
							<span id="f2_2_10" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_10"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>

					<div class="clearfix colelem" id="pu429">
						<!-- group -->
						<div class="shadow colelem" id="u429">
							<!-- simple frame -->
							<span id="f2_3_9" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_9"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow colelem" id="u420">
							<!-- simple frame -->
							<span id="f2_3_10" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_10"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>

					<div class="shadow colelem" id="u412">
						<!-- simple frame -->

						<span id="f2_4_9" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f2_4_9"); %>
								<%- include table_data_item %>
							</div>
						</span>

					</div>
				</div>
				<!-- システム打ち合わせ前の島 -->
				<div class="clearfix grpelem" id="pu127">
					<!-- column -->
					<div class="shadow colelem" id="u127">
						<!-- simple frame -->

					</div>

					<div class="clearfix colelem" id="pu433">
						<!-- group -->
						<div class="shadow grpelem" id="u433">
							<!-- simple frame -->
							<span id="f2_2_11" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_2_11'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u4331">
							<!-- simple frame -->
							<span id="f2_2_12" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_2_12"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>

					</div>

					<div class="clearfix colelem" id="pu434">
						<!-- group -->
						<div class="shadow grpelem" id="u434">
							<!-- simple frame -->
							<span id="f2_3_11" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_3_11'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u437">
							<!-- simple frame -->
							<span id="f2_3_12" class="seatspan">
								<div class="status_icon">
									<% var data = usertableMap.get("f2_3_12"); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u440">
						<!-- simple frame -->
						<span id="f2_4_11" class="seatspan">
							<div class="status_icon">
								<% var data = usertableMap.get("f2_4_11"); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					
					
				</div>
			</div>
		</div>

		<div class="clearfix grpelem" id="ppu86">
			<!-- column -->
			<div class="clearfix colelem" id="pu86">
				<!-- group -->
				<form id="form_update" name="form_update" method="POST" action="/table/update">
				<div class="clearfix grpelem" id="u86">
					<!-- image -->
					<div id="u86_clip">
						<img class="position_content" id="u86_img" src="images/header.png"
							alt="" width="960" height="139" />
						<div class="setting_display">
							<p id="setting_info"><span style="color: red;">※</span> ポジションを変更するには、入れ替えたいポジションをクリックしてください。<br><span style="margin-left: 18px;"></span>右の ”<span style="color: red; font-weight: 1000;"> ⇄ </span>” アイコンをクリックすることで入れ替えが実行されます。</p>
							<input type="text" class="setting_input_display" id="setting_input1_display" value="" disabled>
							<input type="text" class="setting_input_display" id="setting_input2_display" value="" disabled>
							<a id="change_code" href="javascript:form_positionSet.submit()"><i class="fas fa-exchange-alt"></i></a>
						</div>
					</div>
				</div>
				<div class="grpelem" id="u767">
					<!-- custom html -->
					<a href="javascript:form_update.submit()" class="btn btn-radius-solid" id="btn_update">更新<i class="fas fa-angle-right fa-position-right"></i></a>
				</div>
				<div class="grpelem" id="u768">
					<!-- custom html -->
					<p id="seatname"></p>
				</div>
				<div class="grpelem" id="u769">
					<!-- custom html -->
					<span id="personinfo"></span>
				</div>
				<div class="grpelem" id="u770">
					<select name="status" id="status">
						<option value=""></option>
						<% datastatus.forEach ( (element)=> { %>
							<option value="<%= element.attributes.status %>"><%= element.attributes.status %></option>
						<% }); %>
					</select>
				</div>
				<div class="grpelem" id="u774">
					<select name="ikisaki" id="ikisaki" style="max-width: 125px;"></select>
					<!-- custom html -->
					<span id="destination"></span>
				</div>
				<div class="grpelem" id="u776">
					<!-- custom html -->
					<span id="arrival"></span>				
					<select name="time" id="time">
						<option value=""></option>
						<option value="~ 8:30">~ 8:30</option>
						<option value="~ 9:00">~ 9:00</option>
						<option value="~ 9:30">~ 9:30</option>
						<option value="~ 10:00">~ 10:00</option>
						<option value="~ 10:30">~ 10:30</option>
						<option value="~ 11:00">~ 11:00</option>
						<option value="~ 11:30">~ 11:30</option>
						<option value="~ 12:00">~ 12:00</option>
						<option value="~ 12:30">~ 12:30</option>
						<option value="~ 13:00">~ 13:00</option>
						<option value="~ 13:30">~ 13:30</option>
						<option value="~ 14:00">~ 14:00</option>
						<option value="~ 14:30">~ 14:30</option>
						<option value="~ 15:00">~ 15:00</option>
						<option value="~ 15:30">~ 15:30</option>
						<option value="~ 16:00">~ 16:00</option>
						<option value="~ 16:30">~ 16:30</option>
						<option value="~ 17:00">~ 17:00</option>
						<option value="~ 17:30">~ 17:30</option>
						<option value="~ 18:00">~ 18:00</option>
						<option value="~ 18:30">~ 18:30</option>
						<option value="~ 19:00">~ 19:00</option>
						<option value="~ 19:30">~ 19:30</option>
						<option value="~ 20:00">~ 20:00</option>
						<option value="~ 20:30">~ 20:30</option>
						<option value="~ 21:00">~ 21:00</option>
						<option value="~ 21:30">~ 21:30</option>
						<option value="~ 22:00">~ 22:00</option>
						<option value="22:00 ~">22:00 ~</option>
						<option value="不帰">不帰</option>
					</select>
				</div>
				<div class="grpelem" id="u777">
					<!-- custom html -->
					<span id="updatemsg"></span>
				</div>

				<div class="rounded-corners clearfix grpelem" id="u784">
					<!-- group -->
					<div class="clearfix grpelem" id="u785-4">
						<!-- content -->
						<p>氏名</p>
					</div>
				</div>

				<div class="grpelem" id="u786">
					<!-- simple frame -->
					<p style="line-height: 31px; margin-left: 5px; height: 31px; width: 98px;"></p>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u791">
					<!-- group -->
					<div class="clearfix grpelem" id="u792-4">
						<!-- content -->
						<p>情報</p>
					</div>
				</div>
				<div class="grpelem" id="u793">
					<p style="line-height: 31px; margin-left: 5px;"></p>
					<!-- simple frame -->
				</div>
				<div class="rounded-corners clearfix grpelem" id="u794">
					<!-- group -->
					<div class="clearfix grpelem" id="u795-4">
						<!-- content -->
						<p>状態</p>
					</div>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u796">
					<!-- group -->
					<div class="clearfix grpelem" id="u797-4">
						<!-- content -->
						<p>行先</p>
					</div>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u798">
					<!-- group -->
					<div class="clearfix grpelem" id="u799-4">
						<!-- content -->
						<p>予定時刻</p>
					</div>
				</div>

				<div class="rounded-corners clearfix grpelem" id="u800">
					<!-- group -->
					<div class="clearfix grpelem" id="u801-4">
						<!-- content -->
						<p>メモ</p>
					</div>
				</div>


				<div class="grpelem" id="u802">
					<!-- simple frame -->
					<textarea type="text" name="memo" id="memo" value="" style="margin: 2px auto auto 5px; width: 126px; height: 64px;"></textarea>
				</div>
				</form>

				<!-- <div class="grpelem" id="u813"> -->
				<!-- image -->
				<!-- <img class="block" id="u813_img" src="/images/logo.png" alt="" width="53" height="32"/> -->
				<!-- </div> -->
				<form id="form_contact" name="form_contact" method="POST" action="/table/contact">
				<div class="grpelem" id="u828">
					<!-- simple frame -->
					<textarea type="text" name="msg" id="msg" style="margin: 2px auto auto 5px; width: 157px; height: 63px;"><%= msg %></textarea>
					<a href="javascript:form_contact.submit()" class="btn btn-radius-solid" id="btn_contact">更新<i class="fas fa-angle-right fa-position-right"></i></a>
					<a id="pageChange" 
					<% if (req_user.admin == 1) { %>
						href="/admin"
					<% } else { %>
						href="/"
					<% } %>><i class="fas fa-table"></i></a>
				</div>
				<div class="grpelem" id="u829">
					<!-- simple frame -->
				</div>
				<div class="clearfix grpelem" id="u833">
					<!-- group -->
					<div class="clearfix grpelem" id="u830">
						<!-- group -->
						<div class="clearfix grpelem" id="u832-4">
							<!-- content -->
							<p>連絡事項</p>
						</div>
					</div>
				</div>
				</form>
			</div>
			<div class="clearfix colelem" id="pppu472">
				<!-- group -->
				<div class="clearfix grpelem" id="ppu472">
					<!-- column -->
					<div class="clearfix colelem" id="pu472">
						<!-- group -->
						<div class="grpelem" id="u472">
							<!-- image -->
							<img class="block" id="u472_img" src="images/clip.png" alt=""
								width="128" height="26" />
						</div>
						<div class="clearfix grpelem" id="u644-4">
							<!-- content -->
							<p>本社・２F</p>
						</div>
					</div>
					<div class="clearfix colelem" id="u652-4">
						<!-- content -->
						<!-- <span id="r01"></span> -->
					</div>
				</div>
				<div class="clearfix grpelem room" id="u653-4">
					<!-- content -->
					 <p>食堂</p>
					 <p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内615</p> 
					<span id="r01"></span>
				</div>
				<div class="clearfix grpelem" id="u653-4-1">
					<!-- content -->
					<p style="font-size: small;">リラクゼーション</p>
					<span id="r02"></span>
				</div>				
				<div class="clearfix grpelem room" id="u654-4">
					<!-- content -->
					<p style="font-size: small;">会議室（食堂側）</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内613</p>
					<span id="r03"></span>
				</div>
				<div class="clearfix grpelem room" id="u655-4">
					<!-- content -->
					<p style="font-size: smaller;">会議室（社長室側）</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内614</p>
					<span id="r04"></span>

				</div>
				<div class="clearfix grpelem room" id="u656-4">
					<!-- content -->
					<p>社長室</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内611</p>
					<span id="r06"></span>
				</div>
				<div class="clearfix grpelem room" id="u657-4">
					<!-- content -->
					 <p>システム打合室</p>
					 <p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内501</p>
					<span id="r05"></span>

				</div>
				<div class="grpelem" id="u823">
					<!-- image -->
					<img class="block" id="u823_img" src="images/status2.png" alt=""
						width="162" height="94" />
					<form id="form_positionSet" name="form_positionSet" method="POST" action="/table/positionSet">
						<input type="hidden" id="setting_position1_submit" name="setting_position1_submit" value="">
						<input type="hidden" id="setting_id1_submit" name="setting_id1_submit" value="">
						<input type="hidden" id="setting_position2_submit" name="setting_position2_submit" value="">
						<input type="hidden" id="setting_id2_submit" name="setting_id2_submit" value="">
						<div id="btn_redo" class='btn_redo'>
							<a>選びなおす</a>
						</div>
					</form>
				</div>
			</div>
			<div class="clearfix colelem" id="pu477">
				<!-- group -->
				<div class="grpelem" id="u477">
					<!-- image -->
					<img class="block" id="u477_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u648-4">
					<!-- content -->
					<p>庄内支店</p>
				</div>
			</div>
			<div class="clearfix colelem" id="pu639">
				<!-- group -->
				<div class="grpelem" id="u639">
					<!-- image -->
					<img class="block" id="u639_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u649-4">
					<!-- content -->
					<p>郡山オフィス</p>
				</div>
			</div>
			<div class="clearfix colelem" id="pu623">
				<!-- group -->
				<div class="grpelem" id="u623">
					<!-- image -->
					<img class="block" id="u623_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="grpelem" id="u626">
					<!-- image -->
					<img class="block" id="u626_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="grpelem" id="u629">
					<!-- image -->
					<img class="block" id="u629_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u646-4">
					<!-- content -->
					<p>本社・１F</p>


				</div>
				<div class="clearfix grpelem" id="u647-4">
					<!-- content -->
					<p>本社・総務</p>

				</div>
				<div class="clearfix grpelem" id="u650-4">
					<!-- content -->
					<p>米沢支店</p>

				</div>
				<div class="clearfix grpelem room" id="u658-4">
					<!-- content -->
					<p>検証室</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内216</p>
					<span id="r08"></span>

				</div>
				<div class="clearfix grpelem room" id="u659-4">
					<!-- content -->
					<p>営業打合室</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内530</p>
					<span id="r09"></span>
				</div>
			</div>
			<div class="clearfix colelem" id="pu660-4">
				<!-- group -->
				<div class="clearfix grpelem room" id="u660-4">
					<!-- content -->
					 <p>応接室１</p>
					 <p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内212</p>
					<span id="r11"></span>

				</div>
				<div class="clearfix grpelem room" id="u661-4">
					<!-- content -->
					<p>フロント</p>
					<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内211</p>
					<span id="r13"></span>

				</div>
			</div>
			<div class="clearfix colelem room" id="u662-4">
				<!-- content -->
				<p>応接室２</p>
				<p class="tooltip"><i class="fas fa-phone-alt" style="font-size: smaller;"></i> 内213</p>
				<span id="r12"></span>

			</div>
		</div>

		<div id="p_login">
			<p style="font-size: 0.9em;"><i class="fas fa-user-shield admin_only" style="color: #939393;"></i>＂<%= login.name %>
				<% if(login.email.length) {%>
					[<%= login.email %>]<% } %>＂でログインしています。
				<span style="margin-left: 20px;">最後の更新：<%= maxUpdatetime_display_fromNow %>。</span><span style="margin-left: 20px;">更新時刻：<%= maxUpdatetime_display %>。</span><a href="/logout" id="logout"><span><i class="fas fa-sign-out-alt"></i></span> ログアウト</a></p>
		</div>

		<div class="verticalspacer"></div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>

	window.onload = ()=>{
		const loader = document.getElementById('loader');
		loader.classList.add('loaded');
	}

	$(function() {

		if ('<%= req_user.admin %>' != 1){
			$('.admin_only').remove();
		}
		// $('.seatspan').each(function() {
		// 	var seatId = $(this).attr('id');
		// }); 

		$('#u795-4').hide();
		$('#u797-4').hide();
		$('#u799-4').hide();
		$('#status').hide();
		$('#ikisaki').hide();
		$('#time').hide();
		$('.setting_display').hide();
	
		$('#btn_update').hide();

		$('#btn_redo').hide();
		$('.none_img').hide();

		var editingNames = [];
		var display_editingNames = '';
		var lastClicked_editingName;
		var lastClicked_editingGroup;

		$('.status_icon').click(function(){

			$('#u795-4').show();
			$('#status').show();

			if ($(this).hasClass('editing-group')){  //Clicked状態が解除されたら
				$(this).removeClass('editing-group').css('color', '');
				
				var editingNames_remove_index = editingNames.indexOf($(this).children('.p_name').text());
				editingNames.splice(editingNames_remove_index, 1);
				console.log(editingNames);
				display_editingNames = editingNames.join(',');

				lastClicked_editingName = editingNames[editingNames.length - 1];

				$('.append_area').remove();  //upload用エリアをリセット
				$('.editing-group').each(function(){
					$('#form_update').append('<div class="append_area"><input name="name" type="hidden" value="' + $(this).children('.p_name').text() + '">' + '<input name="id" type="hidden" value="' + $(this).children().children('.p_id').text() + '"></div>');
					if ($(this).children('.p_name').text() == lastClicked_editingName){
						lastClicked_editingGroup = $(this);
					}
				});

				if (display_editingNames.length > 8) {
					$('#u786 p').text(display_editingNames.slice(0,6) + '...');
				} else {
					$('#u786 p').text(display_editingNames);
				}

				if ($('.editing-group').length > 1) {
					$('#u791').hide(); //情報ラベル
					$('#u793').hide(); //情報欄
				} else {
					$('#u791').show(); //情報ラベル
					$('#u793').show(); //情報欄
				}
				
				if ($('.editing-group').length > 0) {
					$('#u793 p').text(lastClicked_editingGroup.children().children('.p_information').text()); //表示を直前にクリックした者に戻す
					$('#u770 select').val(lastClicked_editingGroup.children().children('.p_status').text());
					switch ($('#u770 select').val()) {
						case '休暇':
							var selectContent_kyuuka = '<option value="全休">全休</option>' +
									'<option value="ＡＭ半休">ＡＭ半休</option>' + 
									'<option value="ＰＭ半休">ＰＭ半休</option>';
							$('#ikisaki').html(selectContent_kyuuka);
							$('#u797-4').children('p').text('期間');
							$('#ikisaki').show();
							$('#u797-4').show();
							$('#time').val('').hide();
							$('#u799-4').hide();
							break;
						case '客先':
							var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
							$('#ikisaki').html(selectContent_kyakusaki);
							$('#u797-4').children('p').text('行先');
							$('#ikisaki').show();
							$('#u797-4').show();
							$('#time').show();
							$('#u799-4').show();
							break;
						case '社内':
							var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
							$('#ikisaki').html(selectContent_shanai);
							$('#u797-4').children('p').text('行先');
							$('#ikisaki').show();
							$('#u797-4').show();
							$('#time').show();
							$('#u799-4').show();
							break;
						case '':
						case '在席':
						case '帰宅':
							$('#ikisaki').val('').hide();
							$('#u797-4').hide();
							$('#time').val('').hide();
							$('#u799-4').hide();
							break;
						default:
							$('#u797-4').children('p').text('行先');
							$('#ikisaki').val('').hide();
							$('#u797-4').hide();
							$('#time').show();
							$('#u799-4').show();
							break;
					}
					$('#u774 select').val(lastClicked_editingGroup.children().children('.p_ikisaki').text());
					$('#u776 select').val(lastClicked_editingGroup.children().children('.p_time').text());
					$('#u802 textarea').val(lastClicked_editingGroup.children().children('.p_memo').text());

					$('#btn_update').show();
					$('#u795-4').show();
					$('#status').show();
				} else {
					$('#btn_update').hide();
					$('#u795-4').hide();
					$('#u797-4').hide();
					$('#u799-4').hide();
					$('#status').hide();
					$('#ikisaki').hide();
					$('#time').hide();
					$('#u793 p').text('');
					$('#memo').val('');
				}
		
			} else {
				$(this).addClass('editing-group').css('color', 'white');
				$('#btn_update').show();
				$('#u793 p').text($(this).children().children('.p_information').text());
				$('#u770 select').val($(this).children().children('.p_status').text());

				switch ($('#u770 select').val()) {
					case '休暇':
						var selectContent_kyuuka = '<option value="全休">全休</option>' +
								'<option value="ＡＭ半休">ＡＭ半休</option>' + 
								'<option value="ＰＭ半休">ＰＭ半休</option>';
						$('#ikisaki').html(selectContent_kyuuka);
						$('#u797-4').children('p').text('期間');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					case '客先':
						var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
						$('#ikisaki').html(selectContent_kyakusaki);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '社内':
						var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
						$('#ikisaki').html(selectContent_shanai);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '':
					case '在席':
					case '帰宅':
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					default:
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').show();
						$('#u799-4').show();
						break;
				}
				$('#u774 select').val($(this).children().children('.p_ikisaki').text());
				$('#u776 select').val($(this).children().children('.p_time').text());
				$('#u802 textarea').val($(this).children().children('.p_memo').text());
				$('.append_area').remove();
				$('.editing-group').each(function(){
					$('#form_update').append('<div class="append_area"><input name="name" type="hidden" value="' + $(this).children('.p_name').text() + '">' + '<input name="id" type="hidden" value="' + $(this).children().children('.p_id').text() + '"></div>');
				});
				editingNames.push($(this).children('.p_name').text());
				console.log(editingNames);
				display_editingNames = editingNames.join(',')
				if (display_editingNames.length > 8) {
					$('#u786 p').text(display_editingNames.slice(0,6) + '...');
				} else {
					$('#u786 p').text(display_editingNames);
				}
				if ($('.editing-group').length > 1) {
					$('#u791').hide(); //情報ラベル
					$('#u793').hide(); //情報欄
				} else {
					$('#u791').show(); //情報ラベル
					$('#u793').show(); //情報欄
				}
			}
		});

		$('#u768').css("visibility", "hidden");
		
		$('#u786').hover(function(){
			if (display_editingNames.length > 8 && display_editingNames.length <= 17) {
				$(this).css({'background-color':'#f4f4f4','height':'65px'}).children('p').text(display_editingNames);
			} else if (display_editingNames.length > 17 && display_editingNames.length <= 25) {
				$(this).css({'background-color':'#f4f4f4','height':'98px'}).children('p').text(display_editingNames);
			} else if (display_editingNames.length > 25) {
				$(this).css({'background-color':'#f4f4f4','height':'98px'}).children('p').text(display_editingNames.slice(0,24) + '...');
			}
		}, function(){
			if ($(this).children('p').text().length) {
				$(this).css({'background-color':'','height':'31px'}).children('p').text(display_editingNames.slice(0,6) + '...');
			}
		})
	

		$('#status').change(function() {
		var val = $(this).val();
		switch (val) {
			case '休暇':
				var selectContent_kyuuka = '<option value="全休">全休</option>' +
						'<option value="ＡＭ半休">ＡＭ半休</option>' + 
						'<option value="ＰＭ半休">ＰＭ半休</option>';
				$('#ikisaki').html(selectContent_kyuuka);
				$('#u797-4').children('p').text('期間');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').val('').hide();
				$('#u799-4').hide();
				break;
			case '客先':
				var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
				$('#ikisaki').html(selectContent_kyakusaki);
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').show();
				$('#u799-4').show();
				break;
			case '社内':
				var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
				$('#ikisaki').html(selectContent_shanai);
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').show();
				$('#u799-4').show();
				break;
			case '':
			case '在席':
			case '帰宅':
				$('#ikisaki').val('').hide();
				$('#u797-4').hide();
				$('#time').val('').hide();
				$('#u799-4').hide();
				break;
			default:
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').val('').hide();
				$('#u797-4').hide();
				$('#time').show();
				$('#u799-4').show();
				break;
		}

		});

		$('.tooltip').hide();
		$('.tooltip_people').hide();

		var sethover;
		var tmp;
		$('.status_icon').hover(function(){
			tmp = $(this).children('.tooltip_people');
			sethover = setTimeout(function(){
				console.log(tmp.text());
				tmp.fadeIn(200);
			},1200);
		}, function() {
			tmp.fadeOut(200);
			clearTimeout(sethover);
		})

		$('.room').hover(function(){
			$(this).children('.tooltip').show();
		},function(){
			$(this).children('.tooltip').hide();
		})
	});

		var setting = 0;
		$('#cog').click(function(){ 
			if (setting == 0){
				setting = 1;
				$('#u795-4').hide();
				$('#u797-4').hide();
				$('#u799-4').hide();
				$('#u784').hide(); //氏名ラベル
				$('#u786').hide(); //氏名欄
				$('#u791').hide(); //情報ラベル
				$('#u793').hide(); //情報欄
				$('#u800').hide(); //メモラベル
				$('#u802').hide(); //メモ欄
				$('#u828').hide(); //メモラベル
				$('#u833').hide(); //メモ欄
				$('#u823_img').css("visibility", "hidden"); //status2img
				$('#status').hide();
				$('#ikisaki').hide();
				$('#time').hide();
				$('#btn_update').hide();
				$('#u786 p').text('');
				$('#u793 p').text('');
				$('#u770 select').val('');
				$('#u774 select').val('');
				$('#u776 select').val('');
				$('#u802 textarea').val('');
				$('.status_icon').css('color', '');

				$('.status_icon').unbind('click');
				$('#cog').css('color','#3f3f3f');
				$('.status_img').attr('src','/images/pin_kitaku.png');
				$('.setting_display').show();
				$('.none_img').show();
				$('#change_code').hide();

				var last_position;
				var first_position;
				var last_id;
				var first_id;
				var last_name;
				var first_name;

				$('.status_icon').on('click', function(){
					if ($(this).hasClass('moving')){
						$(this).removeClass('moving').children('.status_img').attr('src','/images/pin_kitaku.png').end().css('color', '');
						$(this).children('.none_img').css('color','');
					} else {
						$(this).addClass('moving').children('.status_img').attr('src','/images/pin_yasumi.png').end().css('color', 'white');
						$(this).children('.none_img').css('color','#f53131');
						if ($('.moving').length >= 2){
							last_position = $(this).children().children('.p_position').text();
							first_position = $('.moving').not(this).children().children('.p_position').text();
							last_id = $(this).children().children('.p_id').text();
							first_id = $('.moving').not(this).children().children('.p_id').text();
							last_name = $(this).children('.p_name').text();
							first_name = $('.moving').not(this).children('.p_name').text();

							$('#setting_input1_display').val(first_name);
							$('#setting_input2_display').val(last_name);
							if (last_position.length && first_position.length){
								$('#setting_position1_submit').val(first_position);
								$('#setting_position2_submit').val(last_position);
							} else {
								first_position = $('.moving').not(this).parent('span').attr('id');
								last_position = $(this).parent('span').attr('id');
								$('#setting_position1_submit').val(first_position);
								$('#setting_position2_submit').val(last_position);
							}
							$('#setting_id1_submit').val(first_id);
							$('#setting_id2_submit').val(last_id);

							$('#change_code').show();
							$('#btn_redo').show();
							$('.status_icon').css('pointer-events', 'none');
						} 
					}
				});

				$('#btn_redo').click(function(){
					$('.status_icon').removeClass('moving').css('cursor','pointer')
					.children('.status_img').attr('src','/images/pin_kitaku.png');
					last_position = '';
					first_position = '';
					last_id = '';
					first_id = '';
					last_name = '';
					first_name = '';

					$('#change_code').hide();
					$('#btn_redo').hide();
					$('.status_icon').css('pointer-events', 'auto');
					$('#setting_input1_display').val('');
					$('#setting_input2_display').val('');
					$('#setting_position1_submit').val('');
					$('#setting_position2_submit').val('');
					$('#setting_id1_submit').val('');
					$('#setting_id2_submit').val('');
					$('.status_icon').css('color', '');
					$('.none_img').css('color','');
				});

				$('#change_code').click(function(){
					if (first_name == last_name){
						alert('\n空席の間では入れ替えできません！選びなおしてください。');
						return false;
					} else {
						if (!confirm('\n〝' + first_name + '″ポジションコード：' + first_position + '\n〝' + last_name + '″ポジションコード：' + last_position + '  を入れ替えます。\n\n   よろしいですか？')) {
							return false;
						} else {
							return true;
						}
					}
				})
	
			} else if (setting == 1){
				setting = 0;
				window.location.reload();
			}
		})

</script>
</body>

<!-- Mirrored from msiikisaki.appspot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Aug 2020 01:58:22 GMT -->
</html>
