<!DOCTYPE html>
<html class="html">

<!-- Mirrored from msiikisaki.appspot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Aug 2020 01:58:19 GMT -->
<head>

<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="generator" content="6.0.751.219" />
<title>行き先掲示版</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" 	href="css/site_globaldc10.css?114823713" />
<link rel="stylesheet" type="text/css" href="css/index7e17.css?4246631859" id="pagesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>

	<!-- 非表示 -->
	<span id="r02"></span>
	<span id="r07"></span>
	<span id="r10"></span>
	<span id="r14"></span>
	<span id="r15"></span>
	<span id="r16"></span>
	<span id="r17"></span>
	<span id="r18"></span>
	<span id="r19"></span>
	<span id="r20"></span>


	<!-- 非表示 -->

	
	<span id="f2_4_2"></span>
	<span id="f2_4_4"></span>
	<span id="f2_4_6"></span>
	<span id="f2_4_8"></span>
	<span id="f2_4_10"></span>
	<span id="f2_4_12"></span>
	<span id="f1_1_1"></span>
	<span id="f1_3_2"></span>
	<span id="f1_3_4"></span>
	
	<span id="soumu_1_1"></span>
	<span id="soumu_1_2"></span>
	<span id="soumu_1_4"></span>
	<span id="soumu_3_2"></span>

	<!--  <span id="yonezawa_1_1"></span> -->
	<span id="yonezawa_3_3"></span>

	<!-- 庄内 -->
	<div class="clearfix" id="page">
		<!-- group -->
		<div class="grpelem" id="pu108">
			<!-- inclusion -->
			<div class="shadow" id="u108">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="pu456">
				<!-- group -->
				<div class="shadow grpelem" id="u456">
					<!-- simple frame -->
					<span id="sho_1_1"></span>
				</div>
				<div class="shadow grpelem" id="u459">
					<!-- simple frame -->
					<span id="sho_1_2"></span>
				</div>
			</div>
		</div>

		<!-- 総務 -->
		<div class="grpelem" id="pu114">
			<!-- inclusion -->
			<div class="shadow" id="u114">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu243">
				<!-- column -->
				<div class="clearfix colelem" id="pu243">
					<!-- group -->
					<div class="shadow grpelem" id="u243">
						<!-- simple frame -->
					</div>
					<div class="shadow grpelem" id="u244">
						<!-- simple frame -->
					</div>
				</div>
				<div class="shadow colelem" id="u245">
					<!-- simple frame -->
				</div>
				<div class="clearfix colelem" id="pu246">
					<!-- group -->
					<div class="shadow colelem" id="u246">
						<!-- simple frame -->
						<span id="soumu_1_3"></span>
					</div>
				</div>

				<div class="clearfix colelem" id="pu563">
					<!-- group -->
					<div class="shadow grpelem" id="u563-1">
						<!-- simple frame -->
						<span id="soumu_2_1"></span>
					</div>
					<div class="shadow grpelem" id="u563-2">
						<!-- simple frame -->
						<span id="soumu_2_2"></span>
					</div>
					<div class="shadow grpelem" id="u563">
						<!-- simple frame -->
						<span id="soumu_2_3"></span>
					</div>
					<div class="shadow grpelem" id="u566">
						<!-- simple frame -->
						<span id="soumu_2_4"></span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu575">
					<!-- group -->
					<div class="shadow grpelem" id="u575">
						<!-- simple frame -->
						<span id="soumu_3_1"></span>
					</div>
					<div class="shadow grpelem" id="u569">
						<!-- simple frame -->
						<span id="soumu_3_3"></span>
					</div>
					<div class="shadow grpelem" id="u569-2">
						<!-- simple frame -->
						<span id="soumu_3_4"></span>
					</div>
				</div>
			</div>
		</div>

		<!-- 福島 -->
		<div class="grpelem" id="pu632">
			<!-- inclusion -->
			<div class="shadow" id="u632">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="pu633">
				<!-- group -->
				<div class="shadow grpelem" id="u633">
					<!-- simple frame -->
					<span id="ko_1_1"></span>
				</div>
				<div class="shadow grpelem" id="u636">
					<!-- simple frame -->
					<span id="aizu_1_1"></span>
				</div>
			</div>
		</div>

		<div class="grpelem" id="pu113">
			<!-- inclusion -->
			<div class="shadow" id="u113">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu130">
				<!-- column -->
				<div class="clearfix colelem" id="pu130">
					<!-- group -->
					<div class="shadow grpelem" id="u130">
						<!-- simple frame -->

					</div>
					<div class="shadow grpelem" id="u131">
						<!-- simple frame -->
					</div>
				</div>
				<div class="clearfix colelem" id="pu523">
					<!-- group -->
					<div class="shadow grpelem" id="u520">
						<!-- simple frame -->
						<span id="f1_1_6"></span>
					</div>

					<!--<div class="shadow grpelem" id="u521">-->
					<!-- simple frame -->
					<!--<span id="s139" ></span> -->
					<!--</div> -->

					<div class="shadow grpelem" id="u522">
						<!-- simple frame -->
						<span id="f1_1_2" ></span>
					</div>
					<div class="shadow grpelem" id="u523">
						<!-- simple frame -->
						<span id="f1_1_3"></span>
					</div>
					<div class="shadow grpelem" id="u526">
						<!-- simple frame -->
						<span id="f1_1_4"></span>
					</div>
					<div class="shadow grpelem" id="u538">
						<!-- simple frame -->
						<span id="f1_1_5"></span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu507">
					<!-- group -->
					<div class="shadow grpelem" id="u507">
						<!-- simple frame -->
						<span id="f1_2_1"></span>
					</div>
					<div class="shadow grpelem" id="u510">
						<!-- simple frame -->
						<span id="f1_2_2"></span>
					</div>
					<div class="shadow grpelem" id="u529">
						<!-- simple frame -->
						<span id="f1_2_3"></span>
					</div>
					<div class="shadow grpelem" id="u532">
						<!-- simple frame -->
						<span id="f1_2_4"></span>
					</div>
					<div class="shadow grpelem" id="u544">
						<!-- simple frame -->
						<span id="f1_2_5"></span>
					</div>
					<div class="shadow grpelem" id="u547">
						<!-- simple frame -->
						<span id="f1_2_6"></span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu513">
					<!-- group -->
					<div class="shadow grpelem" id="u513">
						<!-- simple frame -->
						<span id="f1_3_1">
							<div class="status_icon">
								<% var data = usertableMap.get('f1_3_1'); %>
								<%- include table_data_item %>
							</div>
						</span>
					</div>
					<div class="shadow grpelem" id="u535">
						<!-- simple frame -->
						<span id="f1_3_3"></span>
					</div>
					<div class="shadow grpelem" id="u5351">
						<!-- simple frame -->
						<span id="f1_3_5"></span>
					</div>
					<div class="shadow grpelem" id="u5352">
						<!-- simple frame -->
						<span id="f1_3_6"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="grpelem" id="pu109">
			<!-- inclusion -->
			<div class="shadow" id="u109">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu579">
				<!-- column -->
				<div class="clearfix colelem" id="pu579">
					<!-- group -->
					<div class="shadow grpelem" id="u57901">
						<!-- simple frame -->
						<span id="yonezawa_1_1"></span>
					</div>
					<div class="shadow grpelem" id="u579">
						<!-- simple frame -->
						<span id="yonezawa_1_2"></span>
					</div>
					<div class="shadow grpelem" id="u582">
						<!-- simple frame -->
						<span id="yonezawa_1_3"></span>
					</div>
				</div>
				<div class="clearfix colelem" id="pu585">
					<!-- group -->
					<div class="shadow grpelem" id="u585">
						<!-- simple frame -->
						<span id="yonezawa_2_1"></span>
					</div>
					<div class="shadow grpelem" id="u595">
						<!-- simple frame -->
						<span id="yonezawa_2_2"></span>
					</div>
					<div class="shadow grpelem" id="u603">
						<!-- simple frame -->
						<span id="yonezawa_2_3"></span>
					</div>


				</div>
				<div class="clearfix colelem" id="pu591">
					<!-- group -->
					<div class="shadow grpelem" id="u591">
						<!-- simple frame -->
						<span id="yonezawa_3_1"></span>
					</div>
					<div class="shadow grpelem" id="u619">
						<!-- simple frame -->
						<span id="yonezawa_3_2"></span>
					</div>
				</div>
			</div>
		</div>


		<div class="grpelem" id="pu107">
			<!-- inclusion -->
			<div class="shadow" id="u107">
				<!-- simple frame -->
			</div>
			<div class="clearfix" id="ppu122">
				<!-- group -->
				<div class="clearfix grpelem" id="pu122">
					<!-- column -->
					<div class="shadow colelem" id="u122">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu300">
						<!-- group -->
						<div class="shadow grpelem" id="u300-1">
							<!-- simple frame -->
							<span id="f2_0_1"></span>
						</div>
						<div class="shadow grpelem" id="u300">
							<!-- simple frame -->
							<span id="f2_1_1"></span>
						</div>
						<div class="shadow grpelem" id="u306">
							<!-- simple frame -->
							<span id="f2_1_2"></span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu292">
						<!-- group -->
						<div class="shadow grpelem" id="u292">
							<!-- simple frame -->
							<span id="f2_2_1"></span>
						</div>
						<div class="shadow grpelem" id="u294">
							<!-- simple frame -->
							<span id="f2_2_2"></span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu115">
						<!-- group -->
						<div class="shadow grpelem" id="u115">
							<!-- simple frame -->
							<span id="f2_3_1"></span>
						</div>
						<div class="shadow grpelem" id="u280">
							<!-- simple frame -->
							<span id="f2_3_2"></span>
						</div>
					</div>
					<div class="shadow colelem" id="u287">
						<!-- simple frame -->
						<span id="f2_4_1"></span>
					</div>
				</div>
				<!-- 会議室前（食堂側）の島 -->
				<div class="clearfix grpelem" id="pu123">
					<!-- column -->
					<div class="shadow colelem" id="u123">
						<!-- simple frame -->

					</div>
					<div class="clearfix colelem" id="pu310">
						<!-- group -->
						<div class="shadow grpelem" id="u310">
							<!-- simple frame -->

							<span id="f2_1_3"></span>
						</div>
						<div class="shadow grpelem" id="u313">
							<!-- simple frame -->
							<span id="f2_1_4"></span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu316">
						<!-- group -->
						<div class="shadow grpelem" id="u316">
							<!-- simple frame -->
							<span id="f2_2_3"></span>
						</div>
						<div class="shadow grpelem" id="u319">
							<!-- simple frame -->
							<span id="f2_2_4"></span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu322">
						<!-- group -->
						<div class="shadow grpelem" id="u322">
							<!-- simple frame -->
							<span id="f2_3_3"></span>
						</div>
						<div class="shadow grpelem" id="u325">
							<!-- simple frame -->
							<span id="f2_3_4"></span>
						</div>
					</div>
					<div class="shadow colelem" id="u328">
						<!-- simple frame -->
						<span id="f2_4_3"></span>
					</div>
				</div>
				<div class="clearfix grpelem" id="pu124">
					<!-- column -->
					<div class="shadow colelem" id="u124">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu338">
						<!-- group -->
						<div class="shadow grpelem" id="u338">
							<!-- simple frame -->
							<span id="f2_1_5"></span>
						</div>
						<div class="shadow grpelem" id="u341">
							<!-- simple frame -->
							<span id="f2_1_6">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_6'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-1">
							<!-- simple frame -->
							<span id="f2_1_7">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-2">
							<!-- simple frame -->
							<span id="f2_1_8">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_1_8'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u341-3">
							<!-- simple frame -->
							<span id="f2_1_9"></span>
						</div>
						<div class="shadow grpelem" id="u341-4">
							<!-- simple frame -->
							<span id="f2_1_10"></span>
						</div>
						
						<div class="shadow grpelem" id="u341-5">
							<!-- simple frame -->
							<span id="f2_1_11"></span>
						</div>
						<div class="shadow grpelem" id="u341-6">
							<!-- simple frame -->
							<span id="f2_1_12"></span>
						</div>

						
					</div>
					<div class="clearfix colelem" id="pu344">
						<!-- group -->
						<div class="shadow grpelem" id="u344">
							<!-- simple frame -->
							<span id="f2_2_5"></span>
						</div>
						<div class="shadow grpelem" id="u347">
							<!-- simple frame -->
							<span id="f2_2_6"></span>
						</div>
					</div>
					<div class="clearfix colelem" id="pu350">
						<!-- group -->
						<div class="shadow grpelem" id="u350">
							<!-- simple frame -->
							<span id="f2_3_5"></span>
						</div>
						<div class="shadow grpelem" id="u353">
							<!-- simple frame -->
							<span id="f2_3_6"></span>
						</div>
					</div>
					<div class="shadow colelem" id="u356">
						<!-- simple frame -->
						<span id="f2_4_5"></span>
					</div>
				</div>
				<div class="clearfix grpelem" id="pu125">
					<!-- column -->
					<div class="shadow colelem" id="u125">
						<!-- simple frame -->
					</div>
					<div class="clearfix colelem" id="pu372">
						<!-- group -->
						<div class="shadow grpelem" id="u372">
							<!-- simple frame -->

							<span id="f2_2_7">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_2_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u375">
							<!-- simple frame -->

							<span id="f2_2_8"></span>
						</div>

					</div>
					<div class="clearfix colelem" id="pu378">
						<!-- group -->
						<div class="shadow grpelem" id="u378">
							<!-- simple frame -->
							<span id="f2_3_7">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_3_7'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
						<div class="shadow grpelem" id="u381">
							<!-- simple frame -->
							<span id="f2_3_8">
								<div class="status_icon">
									<% var data = usertableMap.get('f2_3_8'); %>
									<%- include table_data_item %>
								</div>
							</span>
						</div>
					</div>
					<div class="shadow colelem" id="u384">
						<!-- simple frame -->
						<span id="f2_4_7">
							<div class="status_icon">
								<% var data = usertableMap.get('f2_4_7'); %>
								<%- include table_data_item %>
							</div>
						</span>

					</div>
				</div>
				<!-- リラクゼーション前の島 -->
				<div class="clearfix grpelem" id="pu126">
					<!-- column -->
					<div class="shadow colelem" id="u126">
						<!-- simple frame -->

					</div>

					<div class="clearfix colelem" id="pu409">
						<!-- group -->
						<div class="shadow colelem" id="u409">
							<!-- simple frame -->
							<span id="f2_2_9"></span>
						</div>
						<div class="shadow colelem" id="u410">
							<!-- simple frame -->
							<span id="f2_2_10"></span>
						</div>
					</div>

					<div class="clearfix colelem" id="pu429">
						<!-- group -->
						<div class="shadow colelem" id="u429">
							<!-- simple frame -->
							<span id="f2_3_9"></span>
						</div>
						<div class="shadow colelem" id="u420">
							<!-- simple frame -->
							<span id="f2_3_10"></span>
						</div>
					</div>

					<div class="shadow colelem" id="u412">
						<!-- simple frame -->

						<span id="f2_4_9"></span>

					</div>
				</div>
				<!-- システム打ち合わせ前の島 -->
				<div class="clearfix grpelem" id="pu127">
					<!-- column -->
					<div class="shadow colelem" id="u127">
						<!-- simple frame -->

					</div>

					<div class="clearfix colelem" id="pu433">
						<!-- group -->
						<div class="shadow grpelem" id="u433">
							<!-- simple frame -->
							<span id="f2_2_11">
								<% var data = usertableMap.get('f2_2_11'); %>
								<%- include table_data_item %>
							</span>
						</div>
						<div class="shadow grpelem" id="u4331">
							<!-- simple frame -->
							<span id="f2_2_12"></span>
						</div>

					</div>

					<div class="clearfix colelem" id="pu434">
						<!-- group -->
						<div class="shadow grpelem" id="u434">
							<!-- simple frame -->
							<span id="f2_3_11">
								<% var data = usertableMap.get('f2_3_11'); %>
								<%- include table_data_item %>
							</span>
						</div>
						<div class="shadow grpelem" id="u437">
							<!-- simple frame -->
							<span id="f2_3_12"></span>
						</div>
					</div>
					<div class="shadow colelem" id="u440">
						<!-- simple frame -->
						<span id="f2_4_11"></span>
					</div>
					
					
				</div>
			</div>
		</div>

		<div class="clearfix grpelem" id="ppu86">
			<!-- column -->
			<div class="clearfix colelem" id="pu86">
				<!-- group -->
				<form id="form_update" name="form_update" method="POST" action="/table/update">
				<div class="clearfix grpelem" id="u86">
					<!-- image -->
					<div id="u86_clip">
						<img class="position_content" id="u86_img" src="images/header.png"
							alt="" width="960" height="139" />
					</div>
				</div>
				<div class="grpelem" id="u767">
					<!-- custom html -->
					<a href="javascript:form_update.submit()" class="btn btn-radius-solid" id="btn_update">更新<i class="fas fa-angle-right fa-position-right"></i></a>
				</div>
				<div class="grpelem" id="u768">
					<!-- custom html -->
					<span id="seatname"></span>
				</div>
				<div class="grpelem" id="u769">
					<!-- custom html -->
					<span id="personinfo"></span>
				</div>
				<div class="grpelem" id="u770">
					<select name="status" id="status">
						<option value=""></option>
						<% datastatus.forEach ( (element)=> { %>
							<option value="<%= element.attributes.status %>"><%= element.attributes.status %></option>
						<% }); %>
					</select>
				</div>
				<div class="grpelem" id="u774">
					<select name="ikisaki" id="ikisaki" style="max-width: 125px;"></select>
				</div>
				<div class="grpelem" id="u776">
					<select name="time" id="time">
						<option value=""></option>
						<option value="~ 8:30">~ 8:30</option>
						<option value="~ 9:00">~ 9:00</option>
						<option value="~ 9:30">~ 9:30</option>
						<option value="~ 10:00">~ 10:00</option>
						<option value="~ 10:30">~ 10:30</option>
						<option value="~ 11:00">~ 11:00</option>
						<option value="~ 11:30">~ 11:30</option>
						<option value="~ 12:00">~ 12:00</option>
						<option value="~ 12:30">~ 12:30</option>
						<option value="~ 13:00">~ 13:00</option>
						<option value="~ 13:30">~ 13:30</option>
						<option value="~ 14:00">~ 14:00</option>
						<option value="~ 14:30">~ 14:30</option>
						<option value="~ 15:00">~ 15:00</option>
						<option value="~ 15:30">~ 15:30</option>
						<option value="~ 16:00">~ 16:00</option>
						<option value="~ 16:30">~ 16:30</option>
						<option value="~ 17:00">~ 17:00</option>
						<option value="~ 17:30">~ 17:30</option>
						<option value="~ 18:00">~ 18:00</option>
						<option value="~ 18:30">~ 18:30</option>
						<option value="~ 19:00">~ 19:00</option>
						<option value="~ 19:30">~ 19:30</option>
						<option value="~ 20:00">~ 20:00</option>
						<option value="~ 20:30">~ 20:30</option>
						<option value="~ 21:00">~ 21:00</option>
						<option value="~ 21:30">~ 21:30</option>
						<option value="~ 22:00">~ 22:00</option>
						<option value="22:00 ~">22:00 ~</option>
						<option value="不帰">不帰</option>
					</select>
				</div>
				<div class="grpelem" id="u777">
					<!-- custom html -->
					<span id="updatemsg"></span>
				</div>

				<div class="rounded-corners clearfix grpelem" id="u784">
					<!-- group -->
					<div class="clearfix grpelem" id="u785-4">
						<!-- content -->
						<p>氏名</p>
					</div>
				</div>

				<div class="grpelem" id="u786">
					<!-- simple frame -->
					<p style="line-height: 31px; margin-left: 5px;"></p>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u791">
					<!-- group -->
					<div class="clearfix grpelem" id="u792-4">
						<!-- content -->
						<p>情報</p>
					</div>
				</div>
				<div class="grpelem" id="u793">
					<p style="line-height: 31px; margin-left: 5px;"></p>
					<!-- simple frame -->
				</div>
				<div class="rounded-corners clearfix grpelem" id="u794">
					<!-- group -->
					<div class="clearfix grpelem" id="u795-4">
						<!-- content -->
						<p>状態</p>
					</div>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u796">
					<!-- group -->
					<div class="clearfix grpelem" id="u797-4">
						<!-- content -->
						<p>行先</p>
					</div>
				</div>
				<div class="rounded-corners clearfix grpelem" id="u798">
					<!-- group -->
					<div class="clearfix grpelem" id="u799-4">
						<!-- content -->
						<p>予定時刻</p>
					</div>
				</div>

				<div class="rounded-corners clearfix grpelem" id="u800">
					<!-- group -->
					<div class="clearfix grpelem" id="u801-4">
						<!-- content -->
						<p>メモ</p>
					</div>
				</div>


				<div class="grpelem" id="u802">
					<!-- simple frame -->
					<input type="text" name="memo" id="memo" value="" style="margin-left: 5px;margin-top: 5px;"></input>
				</div>
				</form>

				<!-- <div class="grpelem" id="u813"> -->
				<!-- image -->
				<!-- <img class="block" id="u813_img" src="/images/logo.png" alt="" width="53" height="32"/> -->
				<!-- </div> -->
				<form id="form_contact" name="form_contact" method="POST" action="/table/contact">
				<div class="grpelem" id="u828">
					<!-- simple frame -->
					<input type="text" name="msg" id="msg" value="<%= msg %>" style="margin-left: 5px;margin-top: 5px;"></input>
					<a href="javascript:form_contact.submit()" class="btn btn-radius-solid" id="btn_contact">更新<i class="fas fa-angle-right fa-position-right"></i></a>
					<a id="pageChange" href="/"><i class="fas fa-table"></i></a>
				</div>
				<div class="grpelem" id="u829">
					<!-- simple frame -->
				</div>
				<div class="clearfix grpelem" id="u833">
					<!-- group -->
					<div class="clearfix grpelem" id="u830">
						<!-- group -->
						<div class="clearfix grpelem" id="u832-4">
							<!-- content -->
							<p>連絡事項</p>
						</div>
					</div>
				</div>
				</form>
			</div>
			<div class="clearfix colelem" id="pppu472">
				<!-- group -->
				<div class="clearfix grpelem" id="ppu472">
					<!-- column -->
					<div class="clearfix colelem" id="pu472">
						<!-- group -->
						<div class="grpelem" id="u472">
							<!-- image -->
							<img class="block" id="u472_img" src="images/clip.png" alt=""
								width="128" height="26" />
						</div>
						<div class="clearfix grpelem" id="u644-4">
							<!-- content -->
							<p>本社・２F</p>
						</div>
					</div>
					<div class="clearfix colelem" id="u652-4">
						<!-- content -->
						<!-- <span id="r01"></span> -->
					</div>
				</div>
				<div class="clearfix grpelem room" id="u653-4">
					<!-- content -->
					 <p>食堂</p>
					 <p class="tooltip">内615</p> 
					<span id="r01"></span>
				</div>
				<div class="clearfix grpelem room" id="u654-4">
					<!-- content -->
					<p>会議室1</p>
					<p class="tooltip">内613</p>
					<span id="r03"></span>
				</div>
				<div class="clearfix grpelem room" id="u655-4">
					<!-- content -->
					<p>会議室2</p>
					<p class="tooltip">内614</p>
					<span id="r04"></span>

				</div>
				<div class="clearfix grpelem room" id="u656-4">
					<!-- content -->
					<p>社長室</p>
					<p class="tooltip">内611</p>
					<span id="r06"></span>
				</div>
				<div class="clearfix grpelem room" id="u657-4">
					<!-- content -->
					 <p>システム打合室</p>
					 <p class="tooltip">内501</p>
					<span id="r05"></span>

				</div>
				<div class="grpelem" id="u823">
					<!-- image -->
					<img class="block" id="u823_img" src="images/status2.png" alt=""
						width="162" height="94" />
				</div>
			</div>
			<div class="clearfix colelem" id="pu477">
				<!-- group -->
				<div class="grpelem" id="u477">
					<!-- image -->
					<img class="block" id="u477_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u648-4">
					<!-- content -->
					<p>庄内支店</p>
				</div>
			</div>
			<div class="clearfix colelem" id="pu639">
				<!-- group -->
				<div class="grpelem" id="u639">
					<!-- image -->
					<img class="block" id="u639_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u649-4">
					<!-- content -->
					<p>郡山オフィス</p>
				</div>
			</div>
			<div class="clearfix colelem" id="pu623">
				<!-- group -->
				<div class="grpelem" id="u623">
					<!-- image -->
					<img class="block" id="u623_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="grpelem" id="u626">
					<!-- image -->
					<img class="block" id="u626_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="grpelem" id="u629">
					<!-- image -->
					<img class="block" id="u629_img" src="images/clip.png" alt=""
						width="128" height="26" />
				</div>
				<div class="clearfix grpelem" id="u646-4">
					<!-- content -->
					<p>本社・１F</p>


				</div>
				<div class="clearfix grpelem" id="u647-4">
					<!-- content -->
					<p>本社・総務</p>

				</div>
				<div class="clearfix grpelem" id="u650-4">
					<!-- content -->
					<p>米沢支店</p>

				</div>
				<div class="clearfix grpelem room" id="u658-4">
					<!-- content -->
					<p>検証室</p>
					<p class="tooltip">内216</p>
					<span id="r08"></span>

				</div>
				<div class="clearfix grpelem room" id="u659-4">
					<!-- content -->
					<p>営業打合室</p>
					<p class="tooltip">内530</p>
					<span id="r09"></span>
				</div>
			</div>
			<div class="clearfix colelem" id="pu660-4">
				<!-- group -->
				<div class="clearfix grpelem room" id="u660-4">
					<!-- content -->
					 <p>応接室１</p>
					 <p class="tooltip">内212</p>
					<span id="r11"></span>

				</div>
				<div class="clearfix grpelem room" id="u661-4">
					<!-- content -->
					<p>フロント</p>
					<p class="tooltip">内211</p>
					<span id="r13"></span>

				</div>
			</div>
			<div class="clearfix colelem room" id="u662-4">
				<!-- content -->
				<p>応接室２</p>
				<p class="tooltip">内213</p>
				<span id="r12"></span>

			</div>
		</div>

		<div id="p_login"></div>

		<div class="verticalspacer"></div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
	$(function() {

		$('#u795-4').hide();
		$('#u797-4').hide();
		$('#u799-4').hide();
		$('#status').hide();
		$('#ikisaki').hide();
		$('#time').hide();

		$('#btn_update').hide();

		$('.status_icon').click(function(){

			$('#u795-4').show();
			$('#status').show();

			var editingNames = '';
			if ($(this).hasClass('editing-group')){
				$(this).removeClass('editing-group').css('color', '');
				$('.append_area').remove();
				$('.editing-group').each(function(index, content){
					$('#form_update').append('<div class="append_area"><input name="name" type="hidden" value="' + $(content).children('.p_name').text() + '">' + '<input name="id" type="hidden" value="' + $(content).children().children('.id').text() + '"></div>');
					editingNames = editingNames + $(content).children('.p_name').text() + "，";
				})
				$('#u786 p').text(editingNames.slice(0,-1));
				$('#u793 p').text($('.editing-group:last').children().children('.p_information').text());
				$('#u770 select').val($('.editing-group:last').children().children('.p_status').text());
				switch ($('#u770 select').val()) {
					case '休暇':
						var selectContent_kyuuka = '<option value="全休">全休</option>' +
								'<option value="ＡＭ半休">ＡＭ半休</option>' + 
								'<option value="ＰＭ半休">ＰＭ半休</option>';
						$('#ikisaki').html(selectContent_kyuuka);
						$('#u797-4').children('p').text('期間');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					case '客先':
						var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
						$('#ikisaki').html(selectContent_kyakusaki);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '社内':
						var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
						$('#ikisaki').html(selectContent_shanai);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '':
					case '在席':
					case '帰宅':
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					default:
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').show();
						$('#u799-4').show();
						break;
				}
				$('#u774 select').val($('.editing-group:last').children().children('.p_ikisaki').text());
				$('#u776 select').val($('.editing-group:last').children().children('.p_time').text());
				$('#u802 input').val($('.editing-group:last').children().children('.p_memo').text());

				if ($('.editing-group').length) {
					$('#btn_update').show();
				} else {
					$('#btn_update').hide();
				}
		
			} else {
				$(this).addClass('editing-group').css('color', 'white');
				$('#btn_update').show();
				$('#u793 p').text($(this).children().children('.p_information').text());
				$('#u770 select').val($(this).children().children('.p_status').text());

				switch ($('#u770 select').val()) {
					case '休暇':
						var selectContent_kyuuka = '<option value="全休">全休</option>' +
								'<option value="ＡＭ半休">ＡＭ半休</option>' + 
								'<option value="ＰＭ半休">ＰＭ半休</option>';
						$('#ikisaki').html(selectContent_kyuuka);
						$('#u797-4').children('p').text('期間');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					case '客先':
						var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
						$('#ikisaki').html(selectContent_kyakusaki);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '社内':
						var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
						$('#ikisaki').html(selectContent_shanai);
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').show();
						$('#u797-4').show();
						$('#time').show();
						$('#u799-4').show();
						break;
					case '':
					case '在席':
					case '帰宅':
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').val('').hide();
						$('#u799-4').hide();
						break;
					default:
						$('#u797-4').children('p').text('行先');
						$('#ikisaki').val('').hide();
						$('#u797-4').hide();
						$('#time').show();
						$('#u799-4').show();
						break;
				}
				$('#u774 select').val($(this).children().children('.p_ikisaki').text());
				$('#u776 select').val($(this).children().children('.p_time').text());
				$('#u802 input').val($(this).children().children('.p_memo').text());
				$('.append_area').remove();
				$('.editing-group').each(function(){
					$('#form_update').append('<div class="append_area"><input name="name" type="hidden" value="' + $(this).children('.p_name').text() + '">' + '<input name="id" type="hidden" value="' + $(this).children().children('.id').text() + '"></div>');
					editingNames = editingNames + $(this).children('.p_name').text() + "，";
				});
				$('#u786 p').text(editingNames.slice(0,-1));
			}
		});

		$('#status').change(function() {
		var val = $(this).val();
		switch (val) {
			case '休暇':
				var selectContent_kyuuka = '<option value="全休">全休</option>' +
						'<option value="ＡＭ半休">ＡＭ半休</option>' + 
						'<option value="ＰＭ半休">ＰＭ半休</option>';
				$('#ikisaki').html(selectContent_kyuuka);
				$('#u797-4').children('p').text('期間');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').val('').hide();
				$('#u799-4').hide();
				break;
			case '客先':
				var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
				$('#ikisaki').html(selectContent_kyakusaki);
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').show();
				$('#u799-4').show();
				break;
			case '社内':
				var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
				$('#ikisaki').html(selectContent_shanai);
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').show();
				$('#u797-4').show();
				$('#time').show();
				$('#u799-4').show();
				break;
			case '':
			case '在席':
			case '帰宅':
				$('#ikisaki').val('').hide();
				$('#u797-4').hide();
				$('#time').val('').hide();
				$('#u799-4').hide();
				break;
			default:
				$('#u797-4').children('p').text('行先');
				$('#ikisaki').val('').hide();
				$('#u797-4').hide();
				$('#time').show();
				$('#u799-4').show();
				break;
		}

		});

		$('.tooltip').hide();
		$('.status_icon').hover(function(){
			$(this).children('.tooltip').show();
		},function(){
			$(this).children('.tooltip').hide();
		})

		$('.room').hover(function(){
			$(this).children('.tooltip').show();
		},function(){
			$(this).children('.tooltip').hide();
		})
	});
</script>
</body>

<!-- Mirrored from msiikisaki.appspot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Aug 2020 01:58:22 GMT -->
</html>
